mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-card-actions {
  justify-content: center;

  button {
    margin-right: 15px;
  }
}

.full-width {
  width: 100%;
}

.min-width {
  min-width: 150px;
}
