<mat-card style="border-radius: 0;">

  <mat-card-content>
    <mat-toolbar color="primary">
      Detalhes do curso
    </mat-toolbar>

    <form [formGroup]="form">
      <mat-form-field class="full-width min-width">
        <input matInput placeholder="Nome do curso" formControlName="name">
      </mat-form-field>

      <mat-form-field class="full-width min-width">
        <input matInput placeholder="Categoria" formControlName="category">
      </mat-form-field>

    </form>

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" aria-label="Salvar" (click)="onSubmit()">
      Salvar
    </button>

    <button mat-raised-button aria-label="Cancelar" (click)="onCancel()">
      Cancelar
    </button>
  </mat-card-actions>
</mat-card>
