<mat-card style="border-radius: 0;">

  <mat-card-content>
    <mat-toolbar color="primary">
      Detalhes do curso
    </mat-toolbar>

    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome do curso" formControlName="name">
      </mat-form-field>

      <mat-form-field class="full-width min-width">
        <mat-label>Categoria</mat-label>
        <mat-select matNativeControl required formControlName="category">
          <mat-option value="null"> </mat-option>
          <mat-option value="Front-End">Front-End</mat-option>
          <mat-option value="Back-End">Back-End</mat-option>
        </mat-select>
      </mat-form-field>

    </form>

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" aria-label="Salvar" (click)="onSubmit()">
      Salvar
    </button>

    <button mat-raised-button aria-label="Cancelar" (click)="onCancel()">
      Cancelar
    </button>
  </mat-card-actions>
</mat-card>
