/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '@angular/material/theming';
@include mat-core();

$custom-background-color: map_get($mat-blue-grey, 900);

$custom-app-primary: mat-palette($mat-teal,
    900,
    300,
    800);
$custom-app-secondary: mat-palette($mat-blue-grey,
    500,
    700,
    900);
$custom-app-warn: mat-palette($mat-red);

$custom-theme: mat.define-dark-theme((color: (primary: $custom-app-primary,
        accent: $custom-app-secondary,
        warn: $custom-app-warn ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

@include angular-material-theme($custom-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
